@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,500;1,700&display=swap');
/* font-family: 'Chakra Petch', sans-serif; */
/* counter-increment: https://www.w3schools.com/cssref/pr_gen_counter-increment.asp */
/* color principal : #4361ee */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
    font-family: 'Chakra Petch', sans-serif;
}
body{
    counter-reset: item;
}
:root{
    --color-principal: #4361ee;
    --color-hover: #4362ee17;
    --color-text: black;

    --border-radius-principal: 5px;
}
/* CSS DEL HEADER */
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}
/* css del logo */
.container_logo_page{
    width: 50px;
}
.container_logo_page img{
    width: 100%;
}

/* css de la navegación */
.container_navegation_page{
    display: flex;
    align-items: center;
}
.menu_header{
    display: flex;
    align-items: center;
}
.menu_header ul{
    display: flex;
    list-style: none;
    align-items: center;
}
.menu_header ul li{
    margin: 0px 15px;
    counter-increment: item 1;
}

.menu_header ul li a{
    text-decoration: none;
    color: var(--color-text);
    text-transform: capitalize;
    transition: .3s ease;
}
.menu_header ul li a::before{
    content: "0" counter(item) ". ";
    color: var(--color-principal);
    padding-right: 3px;
}
.menu_header ul li:hover a{
    color: var(--color-principal);
}
.button_header{
    border: 2px solid var(--color-principal);
    padding: 10px;
    text-decoration: none;
    color: var(--color-principal);
    background: none;
    text-transform: capitalize;
    border-radius: var(--border-radius-principal);
    transition: .3s ease;
}
.button_header:hover{
    background: var(--color-hover);
}


/* css de las partes laterales */
/* https://package.elm-lang.org/packages/1602/elm-feather/2.3.0/FeatherIcons#facebook */
/* adicional: writing-mode: vertical-rl; */
.container_side{
    position: fixed;
    bottom: 0;
    padding: 0px 30px;
}
.side_izq{
    left: 0;
}
.side_der{
    right: 0;
}
.side_der a{
    writing-mode: vertical-rl;
    text-decoration: none;
    color: var(--color-text);
    transition: .3s ease;
    letter-spacing: 2px;
}
.side_der a:hover{
    color: var(--color-principal);
    transform: translateY(-5px);
}
.container_side::after{
    content: "";
    width: 2px;
    height: 100px;
    background-color: var(--color-principal);
    display: block;
    margin: 0 auto;
    margin-top: 5px;
}
.container_side ul{
    list-style: none;
}
.container_side ul li{
    margin: 5px 0px;
    transition: .3s ease;
}
.container_side ul li a{
    text-decoration: none;
    color: var(--color-text);
    transition: .3s ease;
}
.container_side ul li:hover{
    transform: translateY(-5px);
}
.container_side ul li:hover a{
    color: var(--color-principal);
}